*{box-sizing: border-box; font-family: Calibri;}
.wrapper{
    margin: 2% 10%;
}
.present{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(225, 246, 252);
    border-radius: 3px;
    padding: 5px 5px 20px 10px;
}
.discount{
    display: flex;
    align-items: center;
    width: 33.3%;
    padding: 15px 10px;
}
.pic img{align-items: center;}
.pic{
    padding-right: 10px;
}
.box2{
    display: flex;
    flex-direction: column;
}
.name1{
    color: grey;
    font-size: 0.8em;
}
.name2{
    font-weight: bold;
    font-size: 1.1em;

}
.menu{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.choice{
    text-align: center;
    border: 1px solid;
    padding: 3px 1px;
    width: 13%;
    font-size:80%;
    border: 1px solid rgb(225, 246, 252);
    border-radius: 25px;
    margin-left: 5px;

}
.choice1{
    color: white;
    background-color: rgb(62, 179, 179);
    border: 1px solid rgb(62, 179, 179);
    border-radius: 25px;
    width: 8%;
}
.pizsize{
    font-weight: bold;
    font-size: 2.3em;
    padding-bottom: 25px;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.choose img{width: 100%;}
.choose{
    width: 25%;
    padding: 0 15px 50px 0;
}
.name3{
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 15px;
}
.text{
    font-size: 0.8em;
    color: grey;
}
.boxmini{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.sum1{
    color: rgb(62, 179, 179);
}
.sum2{
    color: rgb(62, 179, 179);
    border: 1px solid rgb(62, 179, 179);
    border-radius: 25px;
    padding: 3px 10px 3px 12px;
    font-size: 0.8em;
}
.boxmini1{
    padding-top: 20px;
}